<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="卓美，广告产品" charset="UTF-8">
    <link rel="icon" type="image/ico" sizes="32x32" href="images/卓美广告.ico" tppabs="http://www.zhuomeiad.com/images/卓美广告.ico">
    <title>展示器材_卓美广告</title>
    <style type="text/css">
        @import url("css/nav.css")/*tpa=http://www.zhuomeiad.com/css/nav.css*/;
        @import url("css/font-awesome.min.css")/*tpa=http://www.zhuomeiad.com/css/font-awesome.min.css*/;
        @import url("css/showmaterial.css")/*tpa=http://www.zhuomeiad.com/css/showmaterial.css*/;
    </style>
</head>
<body>
<div id="app" style="background: #f9f9f9">
<div class="contact" style="">
    <div class="arrow" title="返回顶部" onclick="onTop()">TOP</div>
    <a href="javascript:if(confirm(%27http://wpa.qq.com/msgrd?v=3&uin=693461009&site=qq&menu=yes  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://wpa.qq.com/msgrd?v=3&uin=693461009&site=qq&menu=yes%27" tppabs="http://wpa.qq.com/msgrd?v=3&uin=693461009&site=qq&menu=yes">
        <div class="QQ" title="QQ"><span class="fa fa-qq"></span></div>
    </a>
    <div class="phone" title="联系电话"><span class="fa fa-phone"></span></div>
</div>
<header class="header">
    <div class="nav-bg">
        <div class="nav" final="true">
            <a class="logo" href="index.html" tppabs="http://www.zhuomeiad.com/index.html">
                <img src="images/logo1.png" tppabs="http://www.zhuomeiad.com/images/logo1.png">&nbsp;&nbsp;卓美广告</a>
            <ul class="nav-ul">
                <li>
                    <a name="menuTitle" href="index.html" tppabs="http://www.zhuomeiad.com/index.html">网站首页</a>
                </li>
                <li>
                    <a name="menuTitle" class="nav-active" href="showmaterial.html" tppabs="http://www.zhuomeiad.com/showmaterial.html">展示器材 <span
                            class="fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="showmaterial.html#1" tppabs="http://www.zhuomeiad.com/showmaterial.html#1">门型展架</a></li>
                        <li><a href="showmaterial.html#2" tppabs="http://www.zhuomeiad.com/showmaterial.html#2">拉网展架</a></li>
                        <li><a href="showmaterial.html#3" tppabs="http://www.zhuomeiad.com/showmaterial.html#3">KT板展架</a></li>
                        <li><a href="showmaterial.html#4" tppabs="http://www.zhuomeiad.com/showmaterial.html#4">易拉宝</a></li>
                        <li><a href="showmaterial.html#5" tppabs="http://www.zhuomeiad.com/showmaterial.html#5">X展架</a></li>
                        <li><a href="showmaterial.html#6" tppabs="http://www.zhuomeiad.com/showmaterial.html#6">木质挂画架</a></li>
                        <li><a href="showmaterial.html#7" tppabs="http://www.zhuomeiad.com/showmaterial.html#7">摇奖转盘</a></li>
                        <li><a href="showmaterial.html#8" tppabs="http://www.zhuomeiad.com/showmaterial.html#8">商城展示架</a></li>
                        <li><a href="showmaterial.html#9" tppabs="http://www.zhuomeiad.com/showmaterial.html#9">快展展示架</a></li>
                        <li><a href="showmaterial.html#10" tppabs="http://www.zhuomeiad.com/showmaterial.html#10">桁架</a></li>
                    </ul>
                </li>
                <li>
                    <a href="scroll.html" tppabs="http://www.zhuomeiad.com/scroll.html" name="menuTitle">旗帜条幅 <span class="fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="scroll.html#1" tppabs="http://www.zhuomeiad.com/scroll.html#1">条幅</a></li>
                        <li><a href="scroll.html#2" tppabs="http://www.zhuomeiad.com/scroll.html#2">锦旗</a></li>
                        <li><a href="scroll.html#3" tppabs="http://www.zhuomeiad.com/scroll.html#3">袖章</a></li>
                        <li><a href="scroll.html#4" tppabs="http://www.zhuomeiad.com/scroll.html#4">绶带</a></li>
                        <li><a href="scroll.html#5" tppabs="http://www.zhuomeiad.com/scroll.html#5">彩旗</a></li>
                        <!--<li><a href="javascript:;">注水旗</a></li>-->                    </ul>
                </li>
                <li>
                    <a name="menuTitle" href="flags.html" tppabs="http://www.zhuomeiad.com/flags.html">广告旗帜 <span class="fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="flags.html#1" tppabs="http://www.zhuomeiad.com/flags.html#1">3米注水旗杆</a></li>
                        <li><a href="flags.html#2" tppabs="http://www.zhuomeiad.com/flags.html#2">5米注水旗杆</a></li>
                        <li><a href="flags.html#3" tppabs="http://www.zhuomeiad.com/flags.html#3">7米注水旗杆</a></li>
                        <li><a href="flags.html#4" tppabs="http://www.zhuomeiad.com/flags.html#4">沙滩旗</a></li>
                    </ul>
                </li>
                <li>
                    <a name="menuTitle" href="publicity.html" tppabs="http://www.zhuomeiad.com/publicity.html">宣传印刷 <span class="fa fa-angle-down"></span></a>
                    <ul>
                        <li><a href="publicity.html#1" tppabs="http://www.zhuomeiad.com/publicity.html#1">宣传单</a></li>
                        <li><a href="publicity.html#2" tppabs="http://www.zhuomeiad.com/publicity.html#2">名片</a></li>
                    </ul>
                </li>
                <li>
                    <a name="menuTitle" href="cooperation.html" tppabs="http://www.zhuomeiad.com/cooperation.html" title="暂未开放..." style="opacity: .65;cursor: not-allowed" onclick="javascript:return false;">合作案例</a>
                </li>
                <li>
                    <a name="menuTitle" href="about.html" tppabs="http://www.zhuomeiad.com/about.html">关于我们</a>
                </li>
                <li>
                    <a name="menuTitle" href="contact.html" tppabs="http://www.zhuomeiad.com/contact.html">联系方式</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div style="padding-bottom: 50px">
    <section class="cooperation" v-for="destination in lang.destination">
        <a name="1"></a>
        <h2>{{destination.title}}</h2>
        <h6>{{destination.info}}</h6>
        <div class="showCooperation">
            <span class="ani_top" v-for="data in destination.data">
                <a v-bind:href="data.link">
                    <span>
                        <img v-bind:src="data.imgSrc" >
                    </span>
                    <span class="mainName">
                        {{data.name}}
                        <hr/>
                        <span style="">{{data.tag}}</span>
                    </span>
                </a>
            </span>
        </div>
    </section>

    <div style="text-align: center;color: #777;">
        <span >- 没有更多内容咯 -</span>
    </div>
</div>
<iframe src="foot.html" tppabs="http://www.zhuomeiad.com/foot.html"></iframe>
</div>
</body>
<script  src="js/jquery-3.2.1.js" tppabs="https://code.jquery.com/jquery-3.2.1.js"   ></script>
<script src="js/dropMenu.js" tppabs="http://www.zhuomeiad.com/js/dropMenu.js"></script>
<script src="js/top.js" tppabs="http://www.zhuomeiad.com/js/top.js"></script>
<script src="js/productNav.js" tppabs="http://www.zhuomeiad.com/js/productNav.js"></script>
<!--<script src="js/animation.js"></script>-->
<script src="https://cdn.bootcss.com/typed.js/2.0.5/typed.js"></script>
<script src="js/language.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/commonVue.js"></script>
<script>
    CommonVue.init();
    $(function () {

    })
</script>
</html>