section > h2 {
    min-width: 1280px;
    height: auto;
    padding-top: 50px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(56, 60, 72);
    font-size: 32px;
}
section {
    width: 100%;
    min-width: 1280px;
    padding-bottom: 20px;
}
.mapViewContains {
    width: 80%;
    position: relative;
    height: 350px;
    margin: 0 auto;
    background: url(../images/haerbin_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.mapView {
    display: flex;
    background: rgba(0, 0, 0, 0.36);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5rem;
    box-sizing: border-box;
}
.mapView > p {
    color: #efefef;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}
.myLocation > p {
    color: #bdbdbd;
    margin-bottom: 10px;
}
